@model IEnumerable<DACS_Web_Viec_Lam.Models.Job>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/head_foot.cshtml";
}
<style>
    .search-container {
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .search-container .form-control {
            border-radius: 4px;

            font-size: 16px;
        }

        .search-container .btn {
            margin-left: 20px;
            font-size: 16px;
            background-color: #000;
            color: #fff;
            border-radius: 4px;
        }

            .search-container .btn:hover {
                background-color: #444;
            }

    .search-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <form method="get" asp-controller="" asp-action="Search">
            <div class="row g-2 align-items-center justify-content-center">
                <div class="col-md-9">
                            <input type="text" name="searchString" class="form-control border-0" placeholder="Tìm công việc mong muốn" aria-label="Search" name="searchString" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-dark border-0 w-100">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Search End -->
<table class="table">
    <thead>
        <tr>
            <th>
                Chức vụ
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Khu vực
            </th>
            <th>
                Lương
            </th>
            <th>
                Yêu cầu
            </th>
            <th>
                Hết hạn
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requirement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDeadline)
                </td>
            </tr>
        }
    </tbody>
</table>