@model DACS_Web_Viec_Lam.Models.Job

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/head_foot.cshtml";
}

<h1>Display</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDeadline)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employer.CompanyName)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
