@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Company/Views/Shared/head_foot.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thông Tin Nhà Tuyển Dụng</title>
    <link href="~/css/Displaystyle.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h1>Thông Tin Nhà Tuyển Dụng</h1>
        <div class="details">
            <div class="form-group">
                <label>Tên công ty:</label>
                <span>@Model.CompanyName</span>
            </div>
            <div class="form-group">
                <label>Địa chỉ:</label>
                <span>@Model.Address</span>
            </div>
            <div class="form-group">
                <label>Mô tả công ty:</label>
                <span>@Model.CompanyDiscription</span>
            </div>
            <div class="form-group">
                <label>Email liên hệ:</label>
                <span>@Model.contactMail</span>
            </div>
            <div class="form-group">
                <label>Số điện thoại liên hệ:</label>
                <span>@Model.contactPhone</span>
            </div>
            <div class="form-group">
                <label>Logo:</label>
                <img src="@Model.ImageUrl" alt="Hình ảnh nhà tuyển dụng" style="width:200px; height: 100px;">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" asp-action="Edit">Chỉnh sửa</button>
    </div>
</body>
</html>
