@model IEnumerable<DACS_Web_Viec_Lam.Models.Employer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Company/Views/Shared/head_foot.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDiscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>Logo</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDiscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    <img src="@item.ImageUrl " alt="Employer Image" style="width:300px; height: auto;" />
                </td>
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
